black==23.7.0
wheel==0.41.1
pre-commit==3.3.3
mypy-boto3-ec2==1.28.19.post1
mypy-boto3-ecs==1.28.20
mypy-boto3-iam==1.28.16
mypy-boto3-identitystore==1.28.16
mypy-boto3-organizations==1.28.16
mypy-boto3-sts==1.28.16
mypy-boto3-servicecatalog==1.28.22
mypy-boto3-sso-admin==1.28.16
